@bodyBackground: #eee;
@activeColor: #2B7CBE;

body {
	padding: 10px;
	background: @bodyBackground;
	color: black;
	font-family: Helvetica, 'Myriad Pro', Arial, sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 60px;
}

* {
	box-sizing: border-box;
}

.wrap {
	max-width: 540px;
	margin: 0 auto;
}

.searchField {
	width: 100%;
	margin: 5px auto;
	font-size: 36px;
	background: transparent;
	border:none;
	padding:6px;
	color: black;
	transition: .3s;
	border-left: 3px solid rgba(0,0,0,0.3);
	box-shadow: 0;
	outline: none;
	&:focus {
		border-left: none;
		outline: none;
	}
}

.box {
	padding: 4px 6px;
	margin: 3px 0;
	background: @bodyBackground;
	cursor: pointer;
	&:hover, &:focus, &.active {
		background: @activeColor;
		color: white;
	}
}

@media (max-width: 640px) {
	body {
		padding: 5px;
	}
	body, .searchField {
		font-size: 14px;
	}
}